.title{
    color: black;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
}

.row
{
    background-color: rgba(255, 255, 255, 0.85);
}

.row::after 
{
    content: "";
    clear: both;
    display: table;
}

/* Products */

.column 
{
    float: left;
    text-align: center;
    width: 33%;
    margin: auto;
    font-size: 140%;
    padding-bottom: 10%;
    text-decoration: none;
    color: black;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px; */
}

.info
{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    padding-top: 10px;
    height: 50%;
    width: 50%;

    
    align-items: center;
}

.row, .column, .info
{
    box-sizing: border-box;
}

@media screen and (max-width: 700px){
    .column {
        width: 100%
    }
    .info{
        height: 25%;
        width: 25%;
    }
}