/* .canvas, .imagecanvas{
    height: 600px;
    width: 600px;
    
} */

.my-canvas{
    background-color: lightblue;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    display: block;
}
