/* centered columns styles */
.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
  margin-top: 2%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}